flask==3.0.2
flask-cors==4.0.0
pandas==2.2.0
openpyxl==3.1.2
docxtpl==0.16.7
python-docx==1.1.0 
python-dotenv==1.0.0
mammoth==1.6.0
gunicorn
nltk==3.8.1
scikit-learn==1.4.0
sentence-transformers==2.6.1
Pillow==10.4.0
language-tool-python==2.9.4